@font-face {
  font-family: "Chakra Petch";
  src: url("./assets/fonts/ChakraPetch/ChakraPetch-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Share Tech Mono";
  src: url("./assets/fonts/ShareTechMono/ShareTechMono-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Courier Prime";
  src: url("./assets/fonts/CourierPrime/CourierPrime-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Courier Prime";
  src: url("./assets/fonts/CourierPrime/CourierPrime-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* input, textarea, button, select {
  font: inherit;
} */

body {
  min-height: 100svh;
  color: var(--txt-color);
  background-color: var(--bg-color);
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  transition: background-color 200ms;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  font-family: Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: dark light;
  --txt-color: light-dark(hsl(0, 0%, 0%), hsl(0, 0%, 90%));
  --txt-secondary: light-dark(hsl(0, 0%, 30%), hsl(0, 0%, 70%));
  --bg-color: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 10%));
  --bg-contrast: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 0%));
  --border-color: light-dark(hsl(0, 0%, 50%), hsl(0, 0%, 50%));
  --hover-color: light-dark(
    color-mix(in lab, currentColor, white 85%),
    color-mix(in lab, currentColor, black 70%)
  );
}

/* :root {
  --txt-color: hsl(0, 0%, 90%);
  --txt-secondary: hsl(0, 0%, 70%);
  --bg-color: hsl(0, 0%, 10%);
  --bg-contrast: hsl(0, 0%, 0%);
  --border-color: hsl(0, 0%, 50%);
  --hover-color: hsl(0, 0%, 100%, 0.2);
}

@media (prefers-color-scheme: light) {
  :root {
    --txt-color: hsl(0, 0%, 0%);
    --txt-secondary: hsl(0, 0%, 30%);
    --bg-color: hsl(0, 0%, 90%);
    --bg-contrast: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 50%);
    --hover-color: hsl(0, 0%, 0%, 0.1);
  }
} */

h1 {
  font-size: 1.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  & > * {
    flex: 1;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.icon-button {
  font-size: 1.75rem;
  color: var(--txt-color);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0.1em;

  &:focus-visible {
    outline: none;
  }
}

@media (hover: hover) {
  button.icon-button:hover,
  button.icon-button:focus-visible {
    background-color: var(--hover-color);
  }

  button:hover {
    background-color: var(--hover-color);
  }
}

@media (hover: none) {
  button.icon-button:active {
    background-color: var(--hover-color);
  }

  button:active {
    background-color: var(--hover-color);
  }
}
